<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uw.bladedroid.blademanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.uw.bladedroid.blademanager.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.uw.bladedroid.blademanager.AppDetailActivity"
            android:label="@string/title_activity_app_detail"
            android:parentActivityName="edu.uw.bladedroid.blademanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uw.bladedroid.blademanager.MainActivity" />
        </activity>
        <activity
            android:name="edu.uw.bladedroid.blademanager.InstallBladeActivity"
            android:label="@string/title_activity_install_blade"
            android:parentActivityName="edu.uw.bladedroid.blademanager.AppDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uw.bladedroid.blademanager.AppDetailActivity" />
        </activity>
    </application>

</manifest>
